*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("/Assets/devinhouse.png");
}

.card {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
}

.center {
    align-items: center;
    justify-content: center;
}